body{
    background-color: darkgrey;
}

#imgedison{
    text-align:center;
    font-size:90px;
    
}

#imglighton{
text-align:center;
    font-size:90px;
}

#imglightoff{
text-align:center;
    font-size:90px;
}